extends layout

block content
  h1 Annual snapshot
  script(src='/javascripts/bootstrap.bundle.min.js')

  form(method="post")
    include physical_health
    button.btn.btn-primary(type="submit") Submit
