extends layout

block content
  h1 Annual snapshot
  script(src='/javascripts/bootstrap.bundle.min.js')

  form(method="post")
    include physical_health
    include relationships
    include mental
    include career
    include finance
    include personal_growth
    include fun
    button.btn.btn-primary(type="submit") Submit
