doctype html
html
  head
    title= title
    meta(
      content="width=device-width, initial-scale=1"
      name="viewport"
      charset="utf-8"
      )
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
  body
    block content
